/*Search Form*/
.form-container {
    background-color: mistyrose;
}

/*NavBar*/
.navbar-brand {
    color: #fff !important;
    padding: 0 30px;
}


/*FOOTER*/
.homefooter {
    position: fixed;
    bottom: 0 !important;
    width: 100% !important;
margin-top:50px;
}